@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gatan 1<br />
    Luleå<br />
    <abbr title="Phone">P:</abbr>
    +4670-1234567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lindur13@gmail.com">Support@droneydelivery.com</a><br />
   
</address>